html {
    scroll-behavior: smooth;
}

body {
    background-color: #0A0A0A;
    margin: 0;
}

nav {
    background-color: #0A0A0A;
    box-shadow: 0 0 50px #FFC676;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    float: left;
}
nav a {
    color: #858585;
    text-decoration: none;
    font-family: "Geist Mono", monospace;
    font-weight: 200;
    font-size: 1rem;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover {
    color: #e4dacc;
}

main {
    margin: 20px;
    padding-top: 70px;
}

.typing {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    font-size: 3rem;
    border-right: 15px solid white;
    animation: blinking 1s steps(1, end) infinite, typing 10s steps(30, end) infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes blinking {
    0% { border-color: transparent }
    50% { border-color: white }
    100% { border-color: transparent }
}
@keyframes typing {
    0% { width: 0 }
    25% { width: 50% }
    40% { width: 50% }
    60% { width: 100% }
    100% { width: 100% }
}

main p {
    color: white;
    font-size: 30px;
}